.grid-container {
  max-width: var(--maxWidth);
  padding: 0 1.5rem;
  margin: 0 auto;
}
.grid-container h1 {
  color: white;
  margin: 2rem auto 2rem 5rem;
  font-size: var(--SuperBig);
}

ul.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 2rem;
  margin: 5rem;
  list-style: none;
}
.no_result {
  margin: 2rem;
  font-size: var(--SuperBig);
  color: var(--medGrey);
  text-align: center;
}
