.actor_container {
  color: var(--white);
  background: var(--darkGray);
  border-color: 20px;
  padding: 5px;
  text-align: center;
}
.actor_container h3 {
  margin: 10px 0 0 0;
}
.actor_container p {
  margin: 5px 0;
}
.actor_container img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}
