.spinner1 {
  border: 0.2rem solid var(--lightGrey);
  border-top: 0.2rem solid var(--medGrey);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin: 20px auto;
  padding: 5px;
  animation: spinOne 1s linear infinite;
}
@keyframes spinOne {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner2 {
  border: 0.2rem solid var(--lightGrey);
  border-bottom: 0.2rem solid var(--medGrey);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 5px;
  animation: spin2 0.8s linear infinite;
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner3 {
  border: 0.15rem solid var(--lightGrey);
  border-top: 0.15rem solid var(--medGrey);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 3px;
  animation: spin3 0.5s linear infinite;
}
@keyframes spin3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
